@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'woocommerce.css';

@font-face {
  font-family: 'olde';
  src: url('../fonts/OsgardStencil.woff2') format('woff2'),
       url('../fonts/OsgardStencil.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica-stretch';
  src: url('../fonts/helv-exp.woff2') format('woff2'),
       url('../fonts/helv-exp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-stretch: 1% 500%;
}

:root {
	font-size: 14px;
	--color-text: #000;
	--color-bg: #f2f1eb;
	--color-link: #000;
	--color-link-hover: #000;
	--columns: 50;
	--cursor-blend-mode: difference;
	--cursor-radius: 0;
}

html {
  @apply bg-stone-900 tracking-tighter scroll-smooth;
  font-family:'helvetica-stretch', Arial, "Lucida Grande", sans-serif; 
  font-weight: 700;
  text-transform: uppercase;
  --color-text: #234acd;
	--color-bg: #000;
	--color-link: #ff4700;
	--color-link-hover: #fff;
	--cursor-bg: #ff4700;
	--cursor-blend-mode: overlay;
}

#sh0p {
  display: none; 
}

body.logged-in #sh0p {
  display: block !important; 
}

.wide {
  font-stretch: 200%;
}

section{

}


.thermal {
    filter: url(#thermal-vision);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 14px;
	--color-text: #000;
	--color-bg: #f2f1eb;
	--color-link: #000;
	--color-link-hover: #000;
	--page-padding: 1rem;
	--columns: 15;
	--cursor-blend-mode: difference;
	--cursor-radius: 0;
}

.vert {
    font-family: Helvetica, sans-serif;
    opacity: 0;
    position: fixed;
    bottom: 35%;
    right: 25px;
    font-weight: 700;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    filter: drop-shadow(1px 1px 1px #000000);
}

.transmit {
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.video-container {
  display: inline-block;
  cursor: pointer;

}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.video-frame {
  width: 70vw;
  height: 40vw;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#icon {
filter:  blur(10px) saturate(25%);
mix-blend-mode: multiply;
}
#icon2 {
  mix-blend-mode: overlay;
  filter: contrast(200%) grayscale(0%) brightness(50000%) blur(2px) saturate(200%);
}
#icon3 {
  filter: contrast(150%) grayscale(100%) brightness(50000%) blur(10px) saturate(600%);}


.stretch {
  font-family: 'olde';
  transform-origin: center bottom;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.stretch h1 {
  font-size: 27vw;
  text-align: center;
  line-height: 0.8;
}

